$color: #333435;

.search-result {
  background-color: rgba(229, 231, 232, 0.97);
  border-top: 1px solid #cccecf;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  height: 23.5rem;
  min-height: 375px;
  width: 42.5rem;
}

.search-result__results-list {
  border-right: 1px solid #d6d7d9;
  height: 23.5rem;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  user-select: none;
  width: 18rem;
}

.search-result__results-list li,
.search-result__results-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-result__results-list__header {
  background-color: #dcdddf;
  color: #333435;
  font-size: 12px;
  padding: 4px 0 2px 25px;
  text-transform: uppercase;
}

.search-result__results-list_list-item {
  color: #333435;
  cursor: pointer;
  font-size: 0.75rem;
  height: 1.68rem;
  line-height: 1.68rem;
  padding: 6px 0 6px 25px;
}

.search-result__results-list_list-item.active {
  background-color: #337ef1;
  color: #fff;
}

.search-result__results-list_list-item__item-icon {
  color: #333435;
  float: left;
  font-size: 15px;
  height: 16px;
  padding: 0.31rem;
  text-align: center;
  width: 16px;
}

.search-result__results-detail {
  color: #333435;
  height: 23.5rem;
  margin-left: 18rem;
  padding: 0 1rem;
}
