$listFontSize: 0.75rem;

.search-result {
  background-color: var(--bg-color);
  border-top: 0.0625rem solid var(--border-color);
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: 23.5rem;
  min-height: 23.5rem;
  user-select: none;
  width: 42.5rem;
}

.search-result__results-list {
  border-right: 1px solid var(--border-color);
  flex: 0 0 18rem; // Keeps result list on the left
  height: 23.5rem;
  overflow: hidden;
  overflow-y: auto;
  position: relative; // Ensures jQuery handles scroll correctly
  width: 18rem;
}

.search-result__results-list li,
.search-result__results-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-result__results-list__header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: $listFontSize;
  padding: 0.25rem 0 0.12rem 1.2rem;
  text-transform: uppercase;
}

.search-result__results-list_list-item {
  color: var(--primary-color);
  cursor: pointer;
  font-size: $listFontSize;
  height: 1.68rem;
  line-height: 1.68rem;
}

.search-result__results-list_list-item.active {
  background-color: #337ef1;
  color: #fff;
}

.search-result__results-list_list-item__item-icon {
  color: var(--primary-color);
  float: left;
  font-size: 0.93rem;
  height: 1rem;
  padding: 0.25rem 1.2rem 0.12rem 1.2rem;
  text-align: center;
  width: 1rem;
}

.search-result__results-detail {
  color: var(--primary-color);
  flex: 1; // Keeps result detail on the right
  height: 23.5rem;
  padding: 0 1rem;
  width: 24.5rem;
}

.search-result__results-detail__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.search-result__results-detail__icon {
  height: 8rem;
  width: 8rem;
  margin-bottom: 1rem;
}

.search-result__results-detail__name {
  font-size: 1.3rem;
}

.search-result__results-detail__item-details {
  border-top: 0.0625rem solid var(--border-color);
}
