.toggle {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5em 2rem;
}

/* The switch - the box around the slider */
.switch {
  display: inline-block;
  height: 2.125rem;
  position: relative;
  width: 3.75rem;
}

/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* The slider */
.slider {
  background-color: #ccc;
  cursor: pointer;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: white;
  content: "";
  bottom: 0.25rem;
  height: 1.625rem;
  left: 0.25rem;
  position: absolute;
  width: 1.625rem;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3A3A3C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3A3A3C;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}