.spotlight {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spotlight__searchbar {
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
  height: 3.5rem;
  position: relative;
  width: 42.5rem;
}

.spotlight__searchbar__icon {
  fill: var(--fill-color);
  height: 1.5rem;
  left: 1.2rem;
  padding-right: 0.62rem;
  position: absolute;
  top: 1rem;
  width: 1.5rem;
}

.spotlight__searchbar-input {
  background-color: var(--bg-color);
  border-radius: unset;
  border-radius: 0.5rem 0.5rem 0 0 !important;
  box-shadow: unset;
  height: 3.5rem;
  position: relative;
  width: 42.5rem;
}

.spotlight__searchbar__search {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary-color);
  cursor: default;
  font-size: 1.7rem;
  height: 3.5rem;
  max-width: 25rem;
  padding: 0 0.2rem 0 3.2rem;
}

.spotlight__searchbar__search.empty {
  width: auto !important;
}

.spotlight__searchbar__search:focus {
  outline: none;
}

.spotlight__searchbar__input-after {
  color: var(--text-color);
  display: inline-block;

  & span {
    position: absolute;
    height: 1.5rem;
    top: 1.25rem;
    width: 15rem;
  }
}

.spotlight__searchbar__result_icon {
  height: 1.5rem;
  position: absolute;
  right: 1.7rem;
  top: 0.8rem;
  width: 1.5rem;

  & img {
    width: 2rem;
    height: 2rem;
  }
}
